html{
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

header{
    padding: 1%;
}

header #container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    padding: 10px;
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover{
    background-color: grey;
}

nav a .aboutMe:active{
    scroll-behavior: smooth;
    top: 10;
}


.aboutMe header{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.aboutMe #container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.aboutMe img{
    max-height: 600px;
    margin: 10px 100px 10px 100px;
    flex-grow: 1;
}

.aboutMe p{
    background-color: orange;
    text-align: center;
    padding: 10px;
    margin: 10px 111px 0px 10px;
    max-width: 40%;
    flex-grow: 1;
}

.myWork{
    text-align: center;
}

.myWork #containerMain{ 
    display: flex;
    justify-content: center;
}

.myWork #mainProject {
    min-width: 400px;
    height: 400px;
    flex-basis: 0;
}

.myWork #container {
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.myWork img {
    min-width: 300px;
    height: 300px;
    background-color: grey;
    border: 2px solid black;
    margin: 10px;

}

.myWork #centralWork {
    min-width: 400px;
    flex-basis: 0;
}

.contactMe h2 {
    text-align: center;
}

.contactMe #container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.contactMe a {
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 10px;
}




footer{
    text-align: center;
    background: black;
    color: white;
}


/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    body {
      background: #772014;
    }
    .aboutMe #container{
        flex-wrap: wrap;
    }
    .aboutMe p {
        margin: auto;
    }

  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    body {
      background-color: #bb8588;
    }
    .aboutMe #container{
        flex-wrap: wrap;
    }
    header #container{
        flex-direction: column;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    body {
      background-color: #8ac4ff;
    }
    .aboutMe #container{
        flex-wrap: wrap;
    }
  }
  